<ons-page modifier="full_bg" ng-controller="EditProfileControl">
<ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Edit Profile</div>
      </ons-toolbar>
<hr class="colorgraph">
<div style="text-align:center;">
    <div style="text-align:center;">
		<img ng-src="{{user.profilepicture}}" style="width:50%;" class="img-rounded">
	</div>
	<br/>
	<ons-button ng-click="uploadingpic=true;" ng-show="!uploadingpic" class="btn btn-default">
		Change Profile Picture
	</ons-button>
	<br/>

	<div ng-show="uploadingpic">
		<div>
			<div class="thumbnail">
				<img  style="width:80%; height: auto;" ng-show="file" ng-src="{{file}}">
			</div>
			<div>
				<div style="padding-bottom:5px; display:inline-block">
				<!--	<ons-button class="btn btn-danger" style="" ng-click="uploadingpic=false;file=null;">Cancel</ons-button>
					<ons-button class="btn btn-default" style="" ngf-select ng-model="file" ng-hide="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select</ons-button>-->
                    <ons-button ng-click="GetProfile()">Take Picture</ons-button>
                    <ons-button ng-click="GetProfile(true)">Choose from Library</ons-button>
				</div>
				<!--<ons-button type="file" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</ons-button>-->
                <br/>
                <ons-button style="padding-bottom:10px; padding-top:10px;" class="btn btn-danger" ng-show="file" ng-click="file=null">
				Remove
				</ons-button>
                <br/>
                <br/>
                <ons-button style="padding-top:10px;" class="btn btn-success" ng-show="file && !uploadingAd" ng-click="UploadProfilePicture(file)">Upload</ons-button>
			</div>

			
                
            <p>
    			{{progress}}
			</p>

		</div>
	</div>
	<br/>
    
</ons-page>