<ons-page modifier="full_bg" ng-controller="EditProfileControl">
<ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Edit Profile</div>
      </ons-toolbar>
<hr class="colorgraph">
<div style="text-align:center;">
    
	<br/>
	<div>
    
        <input type="text" ng-model="summonername"
        style="display: block;
          width: 100%;
          margin: 0 auto;
          outline: none;
          height: 100%;
          padding-top: 15px;
          padding-bottom: 16px;"
          class="text-input--underbar" placeholder="Summoner Name" value="">
    <br/>
		<ons-button ng-click="UpdateSummonerName(summonername)">Update Name</ons-button>
		<br/>
        <br/>
		<div ng-show="user.loldata">
			<!--LOL-->
			<h3>
				{{user.loldata.name}}
			</h3>
			<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/{{user.loldata.profileIconId}}.png" </div>
		</div>
		
	
	</div>
    
    <br/>

    <ons-button ng-click="window.plugins.socialsharing.share('Share this DatingApp, Add links to store when published')">Share</ons-button>
</ons-page>