<ons-page ng-controller="EditProfileControl">
<ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Edit Profile</div>
      </ons-toolbar>
<hr class="colorgraph">
<div style="text-align:center;">
    
	<br/>
	<div>
		<h3>
			LoL Summoner Name
		</h3>
		<div class="form-group">
			<input type="text" class="form-control input-lg" ng-model="summonername" placeholder="Summoner Name" tabindex="3">
		</div>
		<ons-button class="btn btn-success" ng-click="UpdateSummonerName(summonername)">Update Name</ons-button>
		<br/>
		<div ng-show="user.loldata">
			<!--LOL-->
			<h3>
				{{user.loldata.name}}
			</h3>
			<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/{{user.loldata.profileIconId}}.png" </div>
		</div>
		
	
	</div>
    
    <div id="share-buttons">
    

    <button ng-click="window.plugins.socialsharing.share('Share this DatingApp, Add links to store when published')">Share</button>

</div>
    
</ons-page>