<ons-page ng-controller="LoginControl">
  <ons-toolbar style="padding-top:0px;">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
    <div class="center">Chat</div>
  </ons-toolbar>
   <cardchoice>
       <h1>asdfzsdf</h1>
       <img src="http://static.stylemagazin.hu/medias/29280/Nem-ehezik-a-Women-of-the-Year-legjobb-modell-dijara-eselyes-szepseg_32fc7c86954a8847610499a0fc7261e2.jpg" alt="" />
   </cardchoice>
   <cardchoice style="display:none">
       <h1>asdfzsdf</h1>
       <img src="http://static.stylemagazin.hu/medias/29280/Nem-ehezik-a-Women-of-the-Year-legjobb-modell-dijara-eselyes-szepseg_32fc7c86954a8847610499a0fc7261e2.jpg" alt="" />
   </cardchoice>
   <cardchoice style="display:none">
       <h1>asdfzsdf</h1>
       <img src="http://static.stylemagazin.hu/medias/29280/Nem-ehezik-a-Women-of-the-Year-legjobb-modell-dijara-eselyes-szepseg_32fc7c86954a8847610499a0fc7261e2.jpg" alt="" />
   </cardchoice>
   <cardchoice style="display:none">
       <h1>asdfzsdf</h1>
       <img src="http://static.stylemagazin.hu/medias/29280/Nem-ehezik-a-Women-of-the-Year-legjobb-modell-dijara-eselyes-szepseg_32fc7c86954a8847610499a0fc7261e2.jpg" alt="" />
   </cardchoice>
   

</ons-page>